<body>
<div class="page-wrapper bg-gra-01 p-t-180 p-b-100 font-poppins">
    <div class="wrapper wrapper--w780">
        <div class="card card-3">
            <div class="card-heading"></div>
            <div class="card-body">
                <h2 class="title">Registration Info</h2>
                <form method="POST" action="/signup" enctype="multipart/form-data">
                    <div class="input-group">
                        <input type="file" name="avatar"/>
                    </div>
                    <div class="input-group">
                        <input class="input--style-3" type="text" placeholder="Name" name="Name">
                    </div>
                    <div class="input-group">
                        <input class="input--style-3" type="text" placeholder="Gender" name="Gender">
                    </div>
                    <div class="input-group">
                        <input class="input--style-3" type="email" placeholder="Email" name="Email">
                    </div>
                    <div class="input-group">
                        <input class="input--style-3" type="text" placeholder="Password" name="Password">
                    </div>
                    <div class="input-group">
                        <input class="input--style-3" type="text" placeholder="Phone" name="Phone">
                    </div>
                    <div class="p-t-10">
                        <button class="btn btn--pill btn--green" type="submit">Submit</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>